/* Slide transition */
.slide-enter-active, .slide-leave-active {
    transition: transform 0.5s;
  }
  .slide-enter, .slide-leave-to {
    transform: translateX(100%);
  }
  
  body::-webkit-scrollbar {
    display: none;
  }

  html {
    scrollbar-width: none;
  }

  body {
    -ms-overflow-style: none;
    @apply bg-gray-100 dark:bg-neutral-900;
  }
  